@model SoftUniFinalProject.Core.Models.Event.FootballGameViewModel
@{
    ViewBag.Title = "Football Game Details";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="card w-100">
        <div class="card-body">
            <h3><a asp-controller="Team" asp-action="Details" asp-route-Id="@Model.HomeTeamId">@Model.HomeTeamName</a></h3>
            <h3><a asp-controller="Team" asp-action="Details" asp-route-Id="@Model.AwayTeamId">@Model.AwayTeamName</a></h3>
            <p class="mb-0"><span class="fw-bold">Starting Time: </span>@Model.StartGame</p>
            <p class="mb-0"><span class="fw-bold">Referee: </span>@Model.RefereeName</p>
            <p class="mb-0"><span class="fw-bold">Match for: </span>@Model.PlayingFor</p>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}