@model SoftUniFinalProject.Core.Models.Team.TeamsAllViewModel

<div class="col-md-4">
    <div class="card mb-3">
        <div class="movie-image">
            <img src="@Model.ImageUrl" class="mx-auto d-block" style="width: 100%; height: auto; width:auto; max-width: 200px; max-height: 300px;">
        </div>
        <div class="card-body text-center">
            <h4>@Model.Name</h4>
            <h6>Manager Name: <b>@Model.ManagerName</b></h6>
            <h6>Football Club NickName: <b>@Model.Nickname</b></h6>
            <br />
            <div class="all-buttons">
                <a asp-controller="Team" asp-action="Sponsors" asp-route-Id="@Model.Id" class="btn btn-style btn-lg" role="button">View Sponsors</a>
                <a asp-controller="Team" asp-action="Details" asp-route-Id="@Model.Id" class="btn btn-style btn-lg" role="button">Details</a>
            </div>
        </div>
    </div>
</div>
