@model SoftUniFinalProject.Core.Models.Admin.UserToRoleAddViewModel

<form asp-action="AddUserToRole" method="post">
    <div>
        <label asp-for="@Model.UserId" class="form-label-add-edit">Select User</label>
        <select asp-for="@Model.UserId" class="form-control">
            <option disabled selected value="">Select User...</option>
            @foreach (var user in Model.Users)
            {
                <option value="@user.UserId">@user.UserName</option>
            }
        </select>
        <span asp-validation-for="@Model.UserId" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="@Model.RoleId" class="form-label-add-edit">Select Role</label>
        <select asp-for="@Model.RoleId" class="form-control">
            <option disabled selected value="">Select Role...</option>
            @foreach (var role in Model.Roles)
            {
                <option value="@role.RoleId">@role.RoleName</option>
            }
        </select>
        <span asp-validation-for="@Model.RoleId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary" value="AddUserToRole">Submit</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}